@*@model HelloMVCWorld.Models.WebUser
    @using (var form = Html.BeginForm())
    {
        <div>
            @Html.LabelFor(m => m.Birthday)
            @Html.TextBoxFor(m => m.Birthday)
            @Html.ValidationMessageFor(m => m.Birthday)
        </div>

        <input type="submit" value="Submit" />
    }*@
@model HelloMVCWorld.Models.WebUserValidatable
@using (var form = Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>

    <div>
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName)
    </div>

    <div>
        @Html.LabelFor(m => m.Birthday)
        @Html.TextBoxFor(m => m.Birthday)
        @Html.ValidationMessageFor(m => m.Birthday)
    </div>

    <input type="submit" value="Submit" />
}